<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/script.js"></script>
    </head>
    <body>
        <div id="modal" class="modal hidden">
            <div class="modal-window">
                <img src="/images/{{item}}" alt="" />
            </div>
        </div>

        <div> 

            <div class="upload">
                <h3>{{title}}</h3>
                <div class="login-form">
                    <span>* images only</span>
                    <form id="upload" name="form" method="post" enctype="multipart/form-data" action="/">
                        <div id="drop">
                            <p><input name="image" type="file"/></p>
                            <input type="submit"/>
                        </div>
                    </form>
                </div>
            </div>

            <div class="images">
                {% for item in imagename %}
                    <div class="item">
                        <span data-remove="{{item}}" class="remover">x delete</span>
                        {#<a  href="/images/{{item}}" target="blank">#}
                        <img class="image" src="/images/{{item}}">
                        {#</a>#}
                    </div>
                {% endfor %}
            </div>

        </div>
    </body>
</html>